body {
        font-family: Arial, Helvetica, sans-serif;

}

#formas-pagamento{

    color: red;
    text-align: center;
}

.menu {
         background-color: #f00000
         

}

.menu a {
          color: white;
          text-decoration: none;
          
          
          

}

.preço {
         color: red;
         width: 200px;
         font-weight: bold;
         font-size: 20px;

}

.descrição  {
              font-size: 20px;
              width: 300px;

}
           

}

#rodape {
          text-align: center;

}

#menu ul {

    padding: 0px;
    margin: 0px;
    background-color: black;
    list-style: none;

}

#menu ul li {
    
      display: inline;

}

#menu ul li a {

      padding: 02px 10px;
      display: inline-block;
      

      /* visual do link */
      background-color: black;
      Text-decoration: none;
      color: white;
      

}


#menu a {

        width: 15%;

}



.descrição {

              font: Arial;

}


div #geladeira.box_produto {
                              width: 400px;
                              height: 400px;
                              display: inline-block; 


}


div #fogão.box_produto {
                          width: 500px;
                          height: 500px;
                          display: inline-block;



}


div #micro-ondas.box_produto {
                               width: 400px;
                               height: 400px;
                               display: inline-block;



}

div #lavadoraderoupas.box_produto {

                                     width: 500px;
                                     height: 500px;
                                     display: inline-block;

}

div #lava-louças.box_produto {
                                width: 500px;
                                height: 500px;
                                display: inline-block;


}

div #produtos {
                 width: 100px;
                 height: 100px;
                 display: inline-block;



}

